<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216558823734-gm7uf740fh4jnkaa5mbu53i9nu4kkirh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216558823734-gm7uf740fh4jnkaa5mbu53i9nu4kkirh</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ5hKIHSfVM1aY2slDZO1XsMDD7TdH2Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>216558823734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-database-90d12</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-database-90d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216558823734:ios:c68c009c35d780cacbab97</string>
</dict>
</plist>